* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(135, 206, 235, 0.7);
    overflow: hidden;
    touch-action: none;
    height: 100%;
}

.letter-form {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2em;
    top: 10%;
    background-color: aliceblue;
    border-radius: 2em 3em;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.letter {
    text-align: center;
    font-size: 1.1em;
}

.letter h1 {
    font-size: 2em;
    font-weight: 700;
    color: #663300;
    margin-bottom: 0.2em ;
}

.letter p {
    font-style: italic;
}


.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.sunflower {
    position: absolute;
    width: 200px;
    height: 85px;
}

.center {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #663300;
    border-radius: 50%;
    top: 50px;
    left: 50px;
    z-index: 2;
    overflow: hidden;
}

.center::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000 1px, transparent 2px);
    background-size: 8px 8px;
    opacity: 0.7;
}

.petal {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #FFD700;
    border-radius: 50px 50px 0 0;
    transform-origin: bottom center;
    z-index: 1;
    top: 0;
    left: 75px;
    box-shadow: 0 0.1px 4px rgba(0, 0, 0, 0.15); 
}

.one {
    transform: rotate(0deg);
}

.two {
    transform: rotate(20deg);
}

.three {
    transform: rotate(40deg);
}

.four {
    transform: rotate(60deg);
}

.five {
    transform: rotate(60deg);
}

.six {
    transform: rotate(80deg);
}

.seven {
    transform: rotate(100deg);
}

.eight {
    transform: rotate(120deg);
}

.nine {
    transform: rotate(140deg);
}

.ten {
    transform: rotate(160deg);
}

.eleven {
    transform: rotate(180deg);
}

.twelve {
    transform: rotate(200deg);
}

.thirteen {
    transform: rotate(220deg);
}

.fourteen {
    transform: rotate(240deg);
}

.fifteen {
    transform: rotate(260deg);
}

.sixteen {
    transform: rotate(280deg);
}

.seventeen {
    transform: rotate(300deg);
}

.eighteen {
    transform: rotate(320deg);
}

.nineteen {
    transform: rotate(340deg);
}

.twenty {
    transform: rotate(360deg);
}

.stem {
    position: absolute;
    width: 10px;
    height: 200px;
    background-color: #006400;
    top: 150px;
    left: 95px;
    z-index: 0;
}

.leaf {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #006400;
    border-radius: 50%;
    z-index: 0;
}

.leaf-left {
    top: 230px;
    left: 55px;
    transform: rotate(-20deg);
}

.ground {
    position: fixed;
    width: 150%;
    height: 210px;
    background-color: #8B4513;
    bottom: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 1500px){
    .ground {
        height: 150px;
    }
    .container {
        padding-bottom: 20px;
    }
    .sunflower-plant {
        height: 300px;
    }
}
@media (max-width: 1000px){
    .ground {
        height: 130px;
    }

    .letter-form {
        width: 350px;
        top: 8%;
    }
    .sunflower{
        height: 20px;
    }
}

@media (max-width: 800px){
    .ground {
        height: 50px;
    }
    .sunflower{
        height: 20px;
    }
}
